{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce blog </h1>
<p>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Consequuntur, possimus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, mollitia quas ex sunt fugit qui, unde voluptate distinctio doloribus illum saepe. 
        Consequatur neque quidem voluptatibus.</p>
        {%endblock%}