{% extends 'base.html.twig'%}
{% block body%}
 <article>
        <h2>{{article.title}}</h2>
        <div class="metadata">Ecrit le 21/08/2021 a 15:36h dans la catégorie politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{article.content | raw}}
        </div>
    </article>

{%endblock%}